<!DOCTYPE html>
<html>
  <head>
    <title>Craigslist Copy - This is a great Craigslist copy site for different services</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Craigslist Copy", root_path %></h1>

      <h2>This is a great Craigslist copy site for different services<h2>
      <nav>
        <%= link_to "Add a category", new_category_path %>
      </nav>
    </header>

    <%= yield %>

    <footer>
      Copyright 2020 Simon Laubscher
    </footer>
  </body>
</html>
